@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    color: whitesmoke;
    font-family: "Poppins", sans-serif;
    caret-color: transparent;
  }

  @layer components {
    .font-oswald {
      font-family: "Oswald", sans-serif;
    }
    .parallax {
      background-image: url("../public/bg.jpg");
    }
  }
}
